:root {
  --card-bg: #986977;
  --border: #dc362e;
  --header-footer: #e46962;
  --main: #f2b8b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--main);
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
}

header {
  background: var(--header-footer);
}

main {
  display: grid;
  gap: 20px;
  background: var(--main);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  justify-items: center;
  max-width: 1200px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border-top: 4px solid var(--border);
  background: var(--card-bg);
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  min-height: 130px;
  max-height: 180px;
  object-fit: cover;
}
.card p {
  padding: 10px;
  font-size: 24px;
  height: 40%;
  overflow: hidden;
}

footer {
  background: var(--header-footer);
}
