:root {
  --cont-bg: #ffffff;
  --bg: #a1a1a1;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Photo__Gallery img,
.Photo__Gallery2 img,
.Photo__Gallery3 img,
.Photo__Gallery4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
.container1 {
  margin: 40px 0;
  max-width: 1512px;
  padding-bottom: 60px;
  width: 100%;
  background-color: var(--cont-bg);
  overflow: hidden;
}

.Photo__Gallery {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}
.Photo__Gallery .title,
.Photo__Gallery2 .title{
  display: flex;
  align-items: center;
  grid-column: span 4;
  font-size: 30px;
  color: var(--text-color);
}
.Photo__Gallery3 .title{
  display: flex;
  align-items: center;
  grid-column: span 4;
}
.Photo__Gallery2 {
  display: grid;
  grid-template: repeat(4, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}

.Photo__Gallery2 .grid1 {
  grid-area: 2 / 1 / 3 / 3;
}

.Photo__Gallery2 .grid2 {
  grid-area: 3/ 2 / 5 / 3;
}

.Photo__Gallery2 .grid3 {
  grid-area: 3 / 3 / 4 / 5;
}

.Photo__Gallery3 {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}

.Photo__Gallery3 .grid1 {
  grid-area: 2/4/3/5;
}

.Photo__Gallery3 .grid2 {
    grid-area: 3/2/4/3;
}

.Photo__Gallery3 .grid3 {
  grid-area: 3/3/4/4;
}

.container1 {
  display: flex;
  align-items: center;
  position: relative;
  height: 982px;
}

.Photo__Gallery4 {
  position: absolute;
  left: -67px;
  gap: 13px;
  display: grid;
  grid-template: repeat(4, 200px) / repeat(3, 300px) 1px repeat(2, 300px);
  grid-auto-columns: 23px;
  width: 100%;
}
.gallery__title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
}
.gallery-sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/1/3/3;
}
.gallery__title h1,
.gallery-sub-title h2, 
.Photo__Gallery3 .title h2{
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 0.2em;
  color: var(--text-color);
}
.grid1 {
  grid-area: 1/5/2/6;
}
.grid2 {
  grid-area: 2/3/3/4;
}
.grid3 {
  grid-area: 2/6/3/7;
}
.grid4 {
  grid-area: 3/2/4/3;
}
.grid5 {
  grid-area: 3/5/4/6;
}
.grid6 {
  grid-area: 4/1/5/2;
}
.grid7 {
  grid-area: 4/3/5/4;
}
.grid8 {
  grid-area: 4/6/5/7;
}
.hr {
  display: block;
  grid-area: 1/4/5/5;
  width: 1px;
  background: var(--text-color);
  height: 100%;
  margin-top: -20px;
  height: calc(100% + 40px);
}
