:root {
  --cont-bg: #ffffff;
  --bg: #a1a1a1;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Photo__Gallery img,
.Photo__Gallery2 img,
.Photo__Gallery3 img,
.Photo__Gallery4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
.container1 {
  margin: 40px 0;
  padding: 60px 0;
  max-width: 1512px;
  width: 100%;
  background-color: var(--cont-bg);
  overflow: hidden;
}

.Photo__Gallery {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}

.Photo__Gallery2 {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}

.Photo__Gallery2 .grid1 {
  grid-area: 1 / 1 / 2 / 3;
}

.Photo__Gallery2 .grid2 {
  grid-area: 2 / 2 / 4 / 3;
}

.Photo__Gallery2 .grid3 {
  grid-area: 2 / 3 / 3 / 5;
}

.Photo__Gallery3 {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(4, 300px);
  gap: 23px;
  justify-content: center;
}

.Photo__Gallery3 .grid1 {
  grid-column: 4 / 5;
}

.Photo__Gallery3 .grid2 {
  grid-column: 2 / 3;
}

.Photo__Gallery3 .grid3 {
  grid-column: 3 / 4;
}

.container1 {
  position: relative;
  height: 982px;
}

.Photo__Gallery4 {
  position: absolute;
  left: -80px;
  top: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 6px;
  width: 100%;
}

.left {
  display: grid;
  grid-template: repeat(4, 200px) / repeat(3, 300px);
  gap: 23px;
}

.left .grid1,
.left .grid4 {
  grid-column: 3 / 4;
}

.left .grid2 {
  grid-column: 2 / 3;
}

.left .grid3 {
  grid-column: 1 / 2;
}

.right {
  display: grid;
  grid-template: repeat(4, 200px) / repeat(2, 300px);
  gap: 23px;
}

.right .grid2 {
  grid-area: 2 / 2 / 3 / 3;
}

.right .grid3 {
  grid-area: 3 / 1 / 4 / 2;
}

.right .grid4 {
  grid-area: 4 / 2 / 5 / 3;
}

.galery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 4;
}

.galery-title h1 {
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 0.2em;
  color: var(--text-color);
}

.sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 3;
}

.sub-title h2 {
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 0.2em;
  color: var(--text-color);
}

.hr {
  background-color: var(--text-color);
  width: 1px;
  height: calc(100% + 80px);
  margin-top: -40px;
  margin-bottom: -40px;
  grid-area: 1 / 2 / 5 / 3;
}
